extends layout

block content
  .row.page-header
    .col-lg-2
      h1 О нас
      hr
  .row
      .col-xs-12.col-sm-12
        h2.about-us=content.headers.first
        p=content.paragraphs.first

        h2.about-us=content.headers.second
        p !{(content.paragraphs.second).replace(/\n/g, '<br/>')}

        h2.about-us=content.headers.third
        p=content.paragraphs.third
