extends layout

include _includes/sharedHTMLfunctions

block content
  .row.page-header
    .col-lg-3
      h1=pageHeader.title
      hr
  .row
    .col-xs-12.col-sm-9
      .row
        .col-xs-12.col-sm-6
          .panel.panel-primary
            .panel-heading
              h2.panel-title Адрес
            .panel-body
              p=location.address
          .panel.panel-primary
            .panel-heading
              h2.panel-title Часы работы
            .panel-body
              each time in location.workingTimes
                | #{time.days},
                | &nbsp;
                if time.closed
                  | Закрыто
                else
                  | #{time.opening}-#{time.closing}
                  br
          .panel.panel-primary
            .panel-heading
              h2.panel-title Преимущества места
            .panel-body
              each facility in location.facilities
                span.badge.badge-pill.badge-info=facility
                | &nbsp;

        .col-xs-12.col-sm-3.location-map
          .panel.panel-primary
            .panel-heading
              h2.panel-title Местоположение
            .panel-body
              iframe(src=location.mapSource, width='350', height='350', frameborder='0',
                allowfullscreen='true')

        .col-xs-12.col-sm-12
          .panel.panel-primary.review-panel
            .panel-heading.mb-4
              h2.panel-title Отзывы посетителей
            .panel-body.review-container

              each review in reviews
                .card.mb-3
                  h5.card-header
                    | Отзыв #{review.reviewNumber}
                    | &nbsp;
                    span.rating
                      +generateRating(review.rating)
                  .card-body
                    h5.card-title
                      span.reviewAuthor=review.author
                      | &nbsp;
                      small.reviewTimestamp=review.date
                    p.card-text=review.reviewText
              a.btn.btn-success.pull-right(href='/location/review/new') Добавить отзыв

    .col-xs-12.col-sm-3
      p.lead=sidebar.context
      p=sidebar.callToAction
