extends layout

include _includes/sharedHTMLfunctions

block content
  #banner.page-header.mb-3
    .row
      .col-lg-4
        h1=pageHeader.title
        hr
        p #{pageHeader.strapline}
  .row
    .col-xs-12.col-sm-8
      .row.list-group.col-sm-8

      each location in locations
        .col-xs-12.list-group-item.shadow-sm.mb-3
          h4
            a(href='/location')=location.name
            small &nbsp;
            span.badge.pull-right.badge-default #{location.distance} м.
            +generateRating(location.rating)
          p.address=location.address
          p
            each facility in location.facilities
              span.badge.badge-pill.badge-info=facility
              | &nbsp;

    .col-xs-12.col-sm-4
      p.lead=sidebar
