extends layout

include _includes/sharedHTMLfunctions

block content
  .row.page-header
    .col-lg-4
      h1.mb-0=pageHeader.title
      +generateRating(location.rating)
      hr
  .row
    .col-xs-12.col-sm-9
      .row
        .col-xs-12.col-sm-6
          .panel.panel-primary
            .panel-heading
              h2.panel-title Адрес
            .panel-body
              p=location.address
          .panel.panel-primary
            .panel-heading
              h2.panel-title Часы работы
            .panel-body
              each time in location.workingTimes
                | #{time.days},
                | &nbsp;
                if time.closed
                  | Закрыто
                else
                  | #{time.opening}-#{time.closing}
                  br
          .panel.panel-primary
            .panel-heading
              h2.panel-title.mt-3 Преимущества места
            .panel-body
              each facility in location.facilities
                span.badge.badge-pill.badge-info=facility
                | &nbsp;
        .col-xs-12.col-sm-12.col-md-12.col-lg-3.col-xl-3.location-map
          .panel.panel-primary
            .panel-heading
              h2.panel-title.mt-3.mt-lg-0 Местоположение
            .panel-body
              #map
        .col-xs-12.col-sm-12
          .panel.panel-primary.review-panel
            .panel-heading.mb-4
              h2.panel-title.mt-4.mt-lg-0 Отзывы посетителей
            .panel-body.review-container
              if location
                each review in location.reviews
                  .card.mb-3
                    h5.card-header
                      .d-flex.justify-content-between.flex-wrap
                        .left-block.mb-1
                          | Отзыв от&nbsp;
                          +formatDate(review.date)
                        .right-block
                          span.rating
                            +generateRating(review.rating)
                    .card-body
                      h5.card-title
                        span.reviewAuthor=review.author
                      p.card-text=review.reviewText
                else
                  p.mb-4 У этого места пока нет отзывов. Станьте №1!
              a.btn.btn-success.pull-right(href='/location/#{location.path}/review/new') Добавить отзыв
    .col-xs-12.col-sm-12.col-md-12.col-lg-3.col-xl-3
      p.lead.mt-4.mt-lg-0=sidebar.callToAction

    script.
      var map;
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: #{location.coordinates.lat}, lng: #{location.coordinates.lng}},
          zoom: 17
        });
      }
    script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDed4x8NTwjOt6D_nGPszsaclmSqRK9gtA&callback=initMap' +
    '&language=ru&region=RU', async='', defer='')
